@import styles

.container
    width: 80%
    @include element-flex(column)
    margin-top: $value-16
    margin-bottom: $value-16
    gap: $value-32
    box-sizing: border-box
    padding: $value-8
    color: $w
    background: $b1
    border-radius: $value-3
