@import styles

.container
    width: 80%
    @include element-flex(column, flex-start, flex-start)
    margin-top: $value-16
    margin-bottom: $value-16
    gap: $value-8
    box-sizing: border-box
    padding: $value-8
    color: $w
    background: $b1
    border-radius: $value-3

.separator
    width: 100%
    height: 2px
    background: $b5

.rows_amount
    width: 100%
    @include element-flex(row,flex-start,center)
    gap: $value-2

.title
    +label-28
    color: $bw
    height: 40px

.generate_data_button
    background: $green3 !important
    border-radius: $value-1 !important
    border: none !important
    &:hover
        background: $green4 !important
        border: none !important

.modal
    min-width: 420px
    background: $b1
    color: $w1
    padding: $value-3
    border-radius: $value-3
    @include element-flex(column, flex-start, flex-start)
    gap: $value-3
    border: 2px solid $b2
    text-align: center

.title_modal
    +label-24
    color: $bw
    width: 100%

.formats
    width: 100%
    @include element-flex(row)
    gap: $value-2
    flex-wrap: wrap

.format
    width: calc(50% - $value-2/2)
